extends ../includes/layout
block metatags
    -var title = 'M A R A T O N - 42 KM'
    -var description = 'Bienvenid@, en este sitio encontrarás información sobre el maravilloso mundo de los Maratones.'
    title= title
    meta(name="description", content=description)
    meta(name="application-name", content=title)
block content
    main.Home.u-afterFixed
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti illum labore possimus qui sit voluptatem voluptates! Assumenda consectetur consequuntur cum dignissimos doloremque obcaecati odio praesentium quod. Aut, error, reprehenderit? Aliquid!
